.table-view {
    -fx-background-color:  #FFFAF4;
}

.table-view .column-header{
    -fx-size: 35px;
    -fx-background-color: transparent;
}

.btnAddToOrder {
    -fx-background-color: #d1d1d1;
    -fx-text-fill: #000;
    -fx-background-radius: 50px;
}

.btnAddToOrder:hover {
    -fx-background-color: #966C3A;
    -fx-text-fill: #fff;
}

.selected-category {
    -fx-background-color: transparent;
    -fx-border-color: #d1d1d1;
    -fx-border-radius: 50px;
    -fx-border-width: 2px;
}

.selected-category .button {
    -fx-background-color: transparent;
    -fx-text-fill: #d1d1d1;
}




